

@font-face
{
font-family: calligraphy;
src: url('/fonts/calligraphy.ttf')
}


// 修改首页标题
div.home-blog .hero h1,.loading-wrapper .title,.password-shadow .title {
  font-family: calligraphy;
  font-size: 6rem;
}

// 修改左上角名称字体
.navbar span.site-name {
  font-family: calligraphy;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2rem;
}